<ul class="grid grid-cols-4 gap-2 place-content-stretch" role="list">
    {%- if settings.social_twitter_link != blank -%}
      <li class="">
        <a href="{{ settings.social_twitter_link }}" class="" aria-describedby="a11y-external-message">
          <div class="menu-icon" aria-label="{{ 'general.social.links.twitter' | t }}">{%- render 'aaa-icon-twitter' -%}</div>
          <span class="hidden">{{ 'general.social.links.twitter' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_facebook_link != blank -%}
      <li class="">
        <a href="{{ settings.social_facebook_link }}" class="" aria-describedby="a11y-external-message">
          <div class="menu-icon" aria-label="{{ 'general.social.links.facebook' | t }}">{%- render 'aaa-icon-facebook' -%}</div>
          <span class="hidden">{{ 'general.social.links.facebook' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_pinterest_link != blank -%}
      <li class="">
        <a href="{{ settings.social_pinterest_link }}" class="" aria-describedby="a11y-external-message">
          <div class="menu-icon" aria-label="{{ 'general.social.links.pinterest' | t }}">{%- render 'aaa-icon-pinterest' -%}</div>
          <span class="hidden">{{ 'general.social.links.pinterest' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_instagram_link != blank -%}
      <li class="">
        <a href="{{ settings.social_instagram_link }}" class="" aria-describedby="a11y-external-message">
          <div class="menu-icon" aria-label="{{ 'general.social.links.instagram' | t }}">{%- render 'aaa-icon-instagram' -%}</div>
          <span class="hidden">{{ 'general.social.links.instagram' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_tumblr_link != blank -%}
      <li class="">
        <a href="{{ settings.social_tumblr_link }}" class="" aria-describedby="a11y-external-message">
          <div class="menu-icon" aria-label="{{ 'general.social.links.tumblr' | t }}">{%- render 'aaa-icon-tumblr' -%}</div>
          <span class="hidden">{{ 'general.social.links.tumblr' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_snapchat_link != blank -%}
      <li class="">
        <a href="{{ settings.social_snapchat_link }}" class="" aria-describedby="a11y-external-message">
          <div class="menu-icon" aria-label="{{ 'general.social.links.snapchat' | t }}">{%- render 'aaa-icon-snapchat' -%}</div>
          <span class="hidden">{{ 'general.social.links.snapchat' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_youtube_link != blank -%}
      <li class="">
        <a href="{{ settings.social_youtube_link }}" class="" aria-describedby="a11y-external-message">
          <div class="menu-icon" aria-label="{{ 'general.social.links.youtube' | t }}">{%- render 'aaa-icon-youtube' -%}</div>
          <span class="hidden">{{ 'general.social.links.youtube' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_vimeo_link != blank -%}
      <li class="">
        <a href="{{ settings.social_vimeo_link }}" class="" aria-describedby="a11y-external-message">
          <div class="menu-icon" aria-label="{{ 'general.social.links.vimeo' | t }}">{%- render 'aaa-icon-vimeo' -%}</div>
          <span class="hidden">{{ 'general.social.links.vimeo' | t }}</span>
        </a>
      </li>
    {%- endif -%}
  </ul>