{%- for link in section.settings.menu.links -%}
  <li>
    {%- if link.links != blank -%}
      <details>
        <summary class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}">
          {{ link.title | escape }}
          {% render 'icon-arrow' %}
          {% render 'icon-caret' %}
        </summary>
        <div id="link-{{ link.title | escape }}" class="menu-drawer__submenu motion-reduce" tabindex="-1">
          <div class="menu-drawer__inner-submenu">
            <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
              {% render 'icon-arrow' %}
              {{ link.title | escape }}
            </button>
            <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
              {%- for childlink in link.links -%}
                <li>
                  {%- if childlink.links == blank -%}
                    <a href="{{ childlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                      {{ childlink.title | escape }}
                    </a>
                  {%- else -%}
                    <details>
                      <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                        {{ childlink.title | escape }}
                        {% render 'icon-arrow' %}
                        {% render 'icon-caret' %}
                      </summary>
                      <div id="childlink-{{ childlink.title | escape }}" class="menu-drawer__submenu motion-reduce">
                        <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                          {% render 'icon-arrow' %}
                          {{ childlink.title | escape }}
                        </button>
                        <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </div>
                    </details>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        </div>
      </details>
    {%- else -%}
      <a href="{{ link.url }}" class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
        {{ link.title | escape }}
      </a>
    {%- endif -%}
  </li>
{%- endfor -%}