{% if level == 0 %}
	{% assign summary_class = "flex items-center py-3 pl-3 pr-3 md:pr-0 justify-between hover:underline underline-offset-2 focus-visible:ring-2 focus-visible:ring-accent2" %}
	{% capture ul_class %}class="bg-light1 text-body2 static md:absolute md:w-40 md:translate-y-4 md:border-2 md:border-light2" role="list" tabindex="-1"{% endcapture %}
{% elsif level == 1 %}
	{% assign summary_class = "flex items-center transition-all justify-between p-3 hover:underline underline-offset-2 focus-visible:ring-2 focus-visible:ring-accent2" %}
	{% capture ul_class %}class=""{% endcapture %}
{% endif %}

{% if header_link.current %}
	{% assign current_class = "underline" %}
	{% capture aria_current %}aria-current="page"{% endcapture %}
{% else %}
	{% assign current_class = "" %}
	{% assign aria_current = "" %}
{% endif %}

{%- if header_link.child_active %}
	{% assign child_active_class = "" %}
{% else %}
	{% assign child_active_class = "" %}
{% endif %}

{% if header_link.links %}
	{% assign link_class = "flex items-center p-3 hover:underline underline-offset-2 focus-visible:ring-2 focus-visible:ring-accent2" %}
{% else %}
	{% assign link_class = "" %}
{% endif %}

{% assign level_class = "level" | append: level %}

<li>
	{% if header_link.links == blank %}
		<a href="{{ header_link.url }}" class="{{ link_class }} {{ level_class }}" {{ aria_current }}>
			<span class="{{ current_class }}">{{ header_link.title | escape }}</span>
		</a>
	{% else %}
		{% if level == 0 %}<details-disclosure>{% endif %}
		<details>
			<summary class="{{ summary_class }} {{ level_class }}">
				<span class="{{ child_active_class }}">{{ header_link.title | escape }}</span>
				{% render 'aaa-icon-chevron-down' %}
			</summary>    
				
			<ul {{ ul_class }}>
				{% assign nextLevel = level | plus: 1 %}
				{% for childLink in header_link.links %}
					{% render 'header-menu-link', header_link: childLink, level: nextLevel %}
				{% endfor %}
			</ul>
    
		</details>
	{% endif%}
	{% if level == 0 %}</details-disclosure>{% endif %}
</li>