
{%- liquid
assign class1 = "bg-gray-300 col-span-2 row-span-2 h-full w-full"
assign class2 = "bg-gray-500"
assign class3 = "bg-gray-700"
assign classes = class1 | append: "," | append: class2 | append: "," | append: class3
-%}

<section>
<div class="container my-12">
  <div class="h-halfscreen grid grid-cols-3 grid-rows-2">
    {% for i in (0..2) %}
      <div class="{{ classes[i]  }}">And here</div>
    {% endfor %}
  </div>
</div>
</section>
<section class="h-screen bg-gray-200 flex items-center relative {{ section.settings.space_before_section }}">
  <div class="absolute top-0 left-0 flex flex-col h-screen w-full md:flex-row">
    {% if section.settings.image_1 == blank and section.settings.image_2 == blank %}
      <div class="bg-light1 h-halfscreen md:h-screen w-full flex flex-col items-start justify-start">
        {{ "collection-1" | placeholder_svg_tag: "w-full h-full md:h-auto" }}
      </div>
      <div class="bg-light2 h-halfscreen md:h-screen w-full flex flex-col items-end justify-end">
        {{ "collection-3" | placeholder_svg_tag: "w-full h-full md:h-auto" }}
      </div>
    {% else %}  
      {% for i in (1..2) %}
          {% assign image = "image_" | append: i %}
          {% if section.settings[image] %}
            <div class="h-full w-full flex flex-col items-center justify-center">
              <img class="h-full w-full object-cover"
              src="{{ section.settings[image] | img_url: '1500x' }}"
              srcset="
              {%- if section.settings[image].width >= 375 -%}{{ section.settings[image] | img_url: '375x' }} 375w,{%- endif -%}
              {%- if section.settings[image].width >= 750 -%}{{ section.settings[image] | img_url: '750x' }} 750w,{%- endif -%}
              {%- if section.settings[image].width >= 1100 -%}{{ section.settings[image] | img_url: '1100x' }} 1100w,{%- endif -%}
              {%- if section.settings[image].width >= 1500 -%}{{ section.settings[image] | img_url: '1500x' }} 1500w,{%- endif -%}
              {%- if section.settings[image].width >= 1780 -%}{{ section.settings[image] | img_url: '1780x' }} 1780w,{%- endif -%}
              {%- if section.settings[image].width >= 2000 -%}{{ section.settings[image] | img_url: '2000x' }} 2000w,{%- endif -%}
              {%- if section.settings[image].width >= 3000 -%}{{ section.settings[image] | img_url: '3000x' }} 3000w,{%- endif -%}
              {%- if section.settings[image].width >= 3840 -%}{{ section.settings[image] | img_url: '3840x' }} 3840w,{%- endif -%}"
              loading="lazy" 
              alt="{{ section.settings[image].alt | escape }}"
              width="{{ section.settings[image].width }}"
              height="{{ section.settings[image].width | divided_by: section.settings[image].aspect_ratio }}"
              >
            </div>
          {% endif %}
      {% endfor %}  
    {% endif %}
  </div>
  <div class="container relative">
    <div class="w-full bg-light1 mx-auto p-12 shadow-2xl md:w-10/12">
      <div class="">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'heading' %}
              {% if block.settings.heading != blank %}
                <h2 class="{{ block.settings.heading_alignment }} {% if block.settings.subheading == blank %} mb-4 {% endif %} text-4xl text-gray-900 py-2 md:text-6xl" >
                  {{ block.settings.heading | escape }}
                </h2>
              {% endif %}
              {% if block.settings.subheading != blank %}
                <p class="{{ block.settings.heading_alignment }} text-lg text-dark-muted py-2 mb-4">
                  {{ block.settings.subheading | escape }}
                </p>
              {% endif %}
            {% when 'buttons' %}
              <div class="flex flex-col {{ block.settings.button_alignment }} -ml-4 md:flex-row">
                {%- if block.settings.button_label_1 != blank -%}
                  <a href="{{ block.settings.button_link_1 }}" class="{% if block.settings.button_style_secondary_1 %} btn-secondary {% else %} btn-primary {% endif %} w-full md:w-auto">
                    {{ block.settings.button_label_1 | escape }}
                  </a>
                {%- endif -%}
                {%- if block.settings.button_label_2 != blank -%}
                  <a href="{{ block.settings.button_link_2 }}" class="{% if block.settings.button_style_secondary_1 %} btn-secondary {% else %} btn-primary {% endif %} w-full md:w-auto">
                    {{ block.settings.button_label_2 | escape }}
                  </a>
                {%- endif -%}
              </div>
          {% endcase %}
        {% endfor %}
      </div>
    </div>    
  </div>
</section>

  {% schema %}
  {
    "name": "AAA Image Banner",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "t:sections.image-banner.settings.image.label"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "t:sections.image-banner.settings.image_2.label"
      },
      {
        "type": "radio",
        "id": "space_before_section",
        "label": "Add space before section?",
        "options": [
          {
            "value": "mt-16",
            "label": "Yes"
          },
          {
            "value": "mt-0",
            "label": "No"
          }
        ],
        "default": "mt-0"
      }
    ],
    "max_blocks": 2,
    "blocks": [{
      "type": "heading",
      "name": "Heading",
      "settings": [{
        "type": "radio",
        "id": "heading_alignment",
        "label": "Heading alignment",
        "options": [
          {
            "value": "text-left",
            "label": "Left"
          },
          {
            "value": "text-center",
            "label": "Center"
          }
        ],
        "default": "text-left"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Now that's a catchy heading"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "And then tell us all about it"
      }]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "settings": [
        {
          "type": "radio",
          "id": "button_alignment",
          "label": "Button alignment",
          "options": [
            {
              "value": "justify-start",
              "label": "Left"
            },
            {
              "value": "justify-center",
              "label": "Center"
            },
            {
              "value": "justify-end",
              "label": "Right"
            }
          ],
          "default": "justify-start"
        },
        {
          "type": "text",
          "id": "button_label_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "default": "Shop now",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "Button label",
          "default": "This is different",
          "info": "Buttons"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": true,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    }],
    "presets": [{
      "name": "AAA Image Banner",
      "blocks": [
      {
        "type": "heading"
      },
      {
        "type": "buttons"
      }]
    }]
  }

  {% endschema %}
  