<section class="h-screen bg-gray-900 flex items-end md:items-center relative mt-16">
  <div class="absolute top-0 left-0 flex flex-col h-screen w-full md:flex-row">
    {% if section.settings.image_1 == blank and section.settings.image_2 == blank %}
      <div class="bg-light2 h-screen w-full flex flex-col items-start justify-start">
        {{ "lifestyle-2" | placeholder_svg_tag: "w-full h-full" }}
      </div>
    {% else %}  
      {% for i in (1..2) %}
          {% assign image = "image_" | append: i %}
          {% if section.settings[image] %}
            <div class="h-full w-full flex flex-col items-center justify-center">
              {% render "aaa-image-tag" | img_src: section.settings[image] img_class: "h-full w-full object-cover" %}
            </div>
          {% endif %}
      {% endfor %}  
    {% endif %}
  </div>
  <div class="container relative mb-16 md:mb-0">
    <div class="w-full bg-light1 mx-auto p-12 shadow-2xl md:w-10/12">
      <div class="">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'heading' %}
              {% if block.settings.heading != blank %}
                <h2 class="{{ block.settings.heading_alignment }} {% if block.settings.subheading == blank %} mb-4 {% endif %} heading0 text-gray-900 py-2" >
                  {{ block.settings.heading | escape }}
                </h2>
              {% endif %}
              {% if block.settings.subheading != blank %}
                <p class="{{ block.settings.heading_alignment }} text-body1 text-dark-muted py-2 mb-4">
                  {{ block.settings.subheading | escape }}
                </p>
              {% endif %}
            {% when 'buttons' %}
              <div class="flex flex-col {{ block.settings.button_alignment }} space-y-4 md:space-x-4 md:space-y-0 md:flex-row">
                {%- if block.settings.button_label_1 != blank -%}
                  <a href="{{ block.settings.button_link_1 }}" class="{% if block.settings.button_style_secondary_1 %} btn-secondary {% else %} btn-primary {% endif %} w-full md:w-auto">
                    {{ block.settings.button_label_1 | escape }}
                  </a>
                {%- endif -%}
                {%- if block.settings.button_label_2 != blank -%}
                  <a href="{{ block.settings.button_link_2 }}" class="{% if block.settings.button_style_secondary_2 %} btn-secondary {% else %} btn-primary {% endif %} w-full md:w-auto">
                    {{ block.settings.button_label_2 | escape }}
                  </a>
                {%- endif -%}
              </div>
          {% endcase %}
        {% endfor %}
      </div>
    </div>    
  </div>
</section>

  {% schema %}
  {
    "name": "AAA Image Banner",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "t:sections.image-banner.settings.image.label"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "t:sections.image-banner.settings.image_2.label"
      }
    ],
    "max_blocks": 2,
    "blocks": [{
      "type": "heading",
      "name": "Heading",
      "settings": [{
        "type": "radio",
        "id": "heading_alignment",
        "label": "Heading alignment",
        "options": [
          {
            "value": "text-left",
            "label": "Left"
          },
          {
            "value": "text-center",
            "label": "Center"
          }
        ],
        "default": "text-left"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Now that's a catchy heading"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "And then tell us all about it"
      }]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "settings": [
        {
          "type": "radio",
          "id": "button_alignment",
          "label": "Button alignment",
          "options": [
            {
              "value": "justify-start",
              "label": "Left"
            },
            {
              "value": "justify-center",
              "label": "Center"
            },
            {
              "value": "justify-end",
              "label": "Right"
            }
          ],
          "default": "justify-start"
        },
        {
          "type": "text",
          "id": "button_label_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "default": "Shop now",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "Button label",
          "default": "This is different",
          "info": "Buttons"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": true,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    }],
    "presets": [{
      "name": "AAA Image Banner",
      "blocks": [
      {
        "type": "heading"
      },
      {
        "type": "buttons"
      }]
    }]
  }

  {% endschema %}
  