
   
<!-- <link rel="stylesheet" href="{{ 'header-styles.css' | asset_url }}"> -->
<!-- <link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'"> -->
<!-- <link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'"> -->
<!-- <link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%} -->

<!-- <noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript> -->

<!-- <script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script> -->
<!-- <script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'sticky-header.js' | asset_url }}" defer="defer"></script> -->


<script type="text/javascript">
  document.addEventListener('alpine:init', () => {  
    Alpine.store('showMobileMenu', false);
    Alpine.store('showSearch', false);
  })



</script>

{%- liquid
  if section.settings.logo_position == "middle-left"
    assign header_class = "flex items-center"
    assign logo_class = "order-1 flex-grow md:flex-grow-0 mr-4 flex items-center"
    assign nav_class ="order-2 hidden md:block flex-1"
    assign search_class="order-3"
    assign profile_cart_class ="order-4"
  elsif section.settings.logo_position == "top-left"
    assign header_class = "flex md:flex-wrap items-center"
    assign logo_class = "order-1 flex-1"
    assign search_class="order-2"
    assign profile_cart_class="order-3"
    assign nav_class ="order-4 hidden md:block w-full -ml-3"
  elsif section.settings.logo_position == "top-center"
    assign header_class = "flex flex-wrap"    
    assign logo_class = "order-1 md:order-2 flex-1 flex items-center md:justify-center md:ml-10"
    assign search_class="order-2 md:order-1 flex items-center"
    assign profile_cart_class="order-3"
    assign nav_class ="order-4 hidden w-full md:flex justify-center"
  endif
%}


<section x-data class="border-b-2 border-light2 relative z-20 bg-light1">  
  <header class="{{ header_class }} text-body2 py-4 px-4 md:px-8">  
<!-- ================  Mobile menu links  ================  -->    
    {%- if section.settings.menu != blank -%}
    <!-- Hamburger icon -->
    <div class="flex md:hidden space-x-4 items-center justify-end">
      <button class="menu-icon -ml-2 mr-2" aria-label="Mobile menu" 
      @click="$store.showMobileMenu = true;
      document.body.classList.add('overflow-none', 'fixed');">{% render 'aaa-icon-hamburger' %}</button>      
    </div>
<!-- mobile menu -->
    <div 
      class="h-screen absolute left-0 top-0 pl-3 pr-4 py-4 max-w-md w-full bg-light1 border-r-2 border-light2 z-20 block md:hidden"
      x-show="$store.showMobileMenu"
      x-transition:enter="transition"
      x-transition:enter-start="-translate-x-full"
      x-transition:enter-end="translate-x-0"
      x-transition:leave="transition -translate-x-full"
      x-cloak 
      @resize.window="$store.showMobileMenu = window.innerWidth > 752 ? false : $store.showMobileMenu; $store.showMobileMenu == true ? document.body.classList.add('mobile-frame') : document.body.classList.remove('mobile-frame');"
      @click.away="$store.showMobileMenu = false; document.body.classList.remove('overflow-none', 'fixed');">
      <div class="flex flex-col h-full space-y-8">
        <button class="menu-icon" aria-label="close" x-data @click="$store.showMobileMenu = false; document.body.classList.remove('overflow-none', 'fixed');">{% render 'aaa-icon-close' %}</button>
        <nav class="flex-1">
          <ul class="text-body2">
            {% render 'header-menu-links', links: section.settings.menu.links %} 
          </ul>
        </nav>
        
        <div class="bg-light2 p-3">
          {%- if shop.customer_accounts_enabled -%}
            <a  class="group flex items-center space-x-2 mb-3" href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">
              <div class="menu-icon" aria-label="Sign in">{% render 'aaa-icon-person' %}</div>
              <div class="text-body2">Login in</div>
              {%- liquid
                if customer
                  echo 'customer.account_fallback' | t
                else
                  echo 'customer.log_in' | t
                endif
              -%}
            </a>
          {%- endif -%}
          {% render 'header-social-links' %}
        </div>

      </div>
    </div>
    {%- endif -%}
<!-- ================    SEARCH BAR   ================  -->
    {% render 'header-search' %}
<!-- ================    Header logo   ================  -->
    <h1 class="{{ logo_class }}">
      <a href="{{ routes.root_url }}" class="focus-visible:ring-2 focus-visible:ring-accent2 inline-block">
        {%- if section.settings.logo != blank -%}
          {%- assign image_size = section.settings.logo_width | append: 'x' -%}
          <img srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
            src="{{ section.settings.logo | img_url: image_size }}"
            loading="lazy"
            class="h-full w-full"
            width="{{ section.settings.logo.width }}"
            height="{{ section.settings.logo.height }}"
            alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
          >
        {%- else -%}
          <span class="heading2">{{ shop.name }}</span>
        {%- endif -%}
      </a>
    </h1>
<!-- ================    Desktop Menu links   ================  -->
    {%- if section.settings.menu != blank -%}
      <!-- This random div is necessary for tailwind to render the level classes -->
      <div class="level0 level1 level2 hidden"></div>      
      <!-- End random div -->
      <nav class="{{ nav_class }}">
        <ul class="flex space-x-4 text-body2" role="list">
          {% render 'header-menu-links', links: section.settings.menu.links %}
        </ul>
      </nav>
    {%- endif -%}
<!-- ================    Header icons   ================  -->
    <div class="{{ search_class }}">
      <button 
        x-data
        @click="$store.showSearch = true; setTimeout(() => { document.querySelector('#search-field-in-modal').focus(); }, 150); " 
        @keydown.escape.window="$store.showSearch == true && document.querySelector('#search-field-in-modal').value.trim() == '' ? $store.showSearch = false : true"
        @keydown.s.window="$store.showSearch == false ? $store.showSearch = true : false; setTimeout(() => { document.querySelector('#search-field-in-modal').focus(); }, 150); "
        class="menu-icon" 
        aria-label="Search"
      >{% render 'aaa-icon-search' %}</button>
    </div>
    <div class="flex items-center -mr-3 {{ profile_cart_class }}">
      <button class="menu-icon" aria-label="Sign in">{% render 'aaa-icon-person' %}</button>
      <button class="menu-icon" aria-label="View Cart">{% render 'aaa-icon-cart' %}</button>
    </div>
  </header>
</section>

{%- render 'cart-notification', color_scheme: section.settings.color_scheme -%}

<!-- ================    Schema stuff   ================  -->

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append: 'x' %}
      "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.header.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.header.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.header.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.header.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.header.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.header.settings.color_scheme.label"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    }
  ]
}
{% endschema %}
