<div class="text-center">
  <p class="p-2 text-base text-black">This is an announcement!</p>
  {{ section.blocks.size }}
  {%- for block in section.blocks -%}
    
        <div class="stuff" {{ block.shopify_attributes }}>
          <span>{{ block.settings.text | escape }}</span>
        </div>
    
        {%- if block.settings.image != blank -%}
          <img
            src="{{ block.settings.image | img_url: '1500x' }}"
            alt="{{ block.settings.image.alt | escape }}"
            loading="lazy"
            width="{{ block.settings.image.width }}"
            height="{{ block.settings.image.height }}"
            class="image-class"
          >
        {%- endif -%}
    
  {%- endfor -%}
  
</div>

  {% schema %}
  {
    "name": "RSG Announcement",
    "tag": "section",
    "class": "border-b",
    "settings": [
        {
          "type": "radio",
          "id": "dismiss",
          "label": "Dissmissable",
          "options": [
            {
              "value": "yes",
              "label": "Yes"
            },
            {
              "value": "no",
              "label": "No"
            }
          ],
          "default": "yes"
        }
    ],
    "presets": [
        {
            "name": "RSG Announcement"
        }
    ],
    "max_blocks": 3,
    "blocks": [
    {
      "type": "announcement",
      "name": "RSG Announcement",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label",
          "default": "Welcome to our store"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.image-banner.settings.image.label"
        }
      ]
    }
  ]
}

  {% endschema %}
  